.content {
    display: flex;
}

.left-margin {
    flex: 1;
}
.center {
    border: 1px solid brown;
    padding: 20px;
    flex: 12;
}

.right-margin {
    flex: 1;
}

.header {
}

.setup-header {
    display: flex;
    margin-top: 15px;
    flex: 1;
}

.BTFormContainer {
    flex: 1;
}
.csvScoresFormContainer {
    flex: 1;
}
.csvpreview {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    display: flex;
    margin-top: 15px;
    flex: 1;
}

.querytextarea {
    flex: 1;
    width: 600px;
    padding: 0 0 200px 0;
}

.results {
    margin-top: 15px;
    flex: 1;
}

.footer {
    margin-top: 15px;
    flex: 1;
}

h5 {
    margin: 0px;
}

p {
    margin: 10px;
}